<div class="container">
  <h1 class="mt-5 mb-5">Inquiry List</h1>

  <div id="inquiries" class="container">
    <div class="container d-flex shadow-sm rounded p-2 user-select-none">
      <strong class="col-3">Type</strong>
      <strong class="col-3">Name</strong>
      <strong class="col-3">Budget</strong>
      <strong class="col-3">Time since</strong>
    </div>
    <% @inquiries.each do |inquiry| %>
      <%= render inquiry %>
      
    <% end %>
  </div>

  <%= link_to "New inquiry", new_inquiry_path, class:"btn btn-outline-success mt-5" %>

</div>
