<div class="container">
  <h1 class="mb-5 mt-5">New Inquiry</h1>
  <div class="container">
    <%= render "form", inquiry: @inquiry %>
  </div>
  <div class="mt-5">
    <%= link_to "Go to Inquiry List", inquiries_path, class:"btn btn-outline-secondary" %>
  </div>
</div>
